body {
  font-family: 'Inter', sans-serif;
  padding: 25px;
}

.left-side {
  width: 50%;
  float: left;
}

.right-side {
  width: 50%;
  float: left;
}

pre {
  color: grey
}

.product-image {
  width: 100%;
  height: auto;
}

.thumbnails {
  display: flex;
  overflow-x: auto;
  padding-left: 10%;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.thumbnail:hover {
  border: 5px solid blue;
  color: blue;
}

.product-info {
  margin-top: 20px;
}

.product-info {
  padding-right: 35px;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
  padding-right: 100px;
}

.price {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f00;
}

.compare-at-price {
  font-size: 16px;
  text-decoration: line-through;
  margin-bottom: 10px;
  color: #ccc;
}

.percentage-off {
  font-size: 16px;
  margin-bottom: 20px;
  color: #f00;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
}

.color-selector {
  display: flex;
  justify-content: left;
  gap: 10px;
  padding-bottom: 25px;
}

.color-option {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 10px;
}

.size-selector {
display: flex;
justify-content: left;
gap: 10px;
padding-bottom: 25px;
}

.size-selector input[type="radio"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.quantity-selector {
  margin-bottom: 20px;
}

.quantity-input {
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button {
  background-color: navy;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.description {
  padding-top: 25px;
  margin-top: 20px;
  font-size: 16px;
}

.container {
  border-radius: 25px;
  padding-left: 15%;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: black;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.quantity-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}

.quantity-field button {
  background-color: lightgray;
  border: none;
  padding: 5px;
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
}

.quantity-field input[type="number"] {
  background-color: none;
  width: 50px;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .left-side,
  .right-side {
     width: 100%;
     float: none;
   }
 
  .product-info {
     padding-right: 0;
   }
 
  .thumbnails {
     padding-left: 0;
   }
 
  .color-selector,
  .size-selector,
  .quantity-field {
     flex-wrap: wrap;
   }
 
  .color-option,
  .size-selector label,
  .quantity-input {
     flex-basis: 100%;
     margin-bottom: 10px;
   }
 
  .quantity-field button {
     flex-basis: auto;
   }
 }